<!-- =========================
     FOOTER
========================= -->

<footer class="footer">

    <div class="footer-main">

        <!-- BRAND -->

        <div class="footer-brand">

            <div class="footer-logo">
                <span>N</span>EXORA
            </div>

            <p>
                Your destination for premium products,
                modern style and an effortless shopping
                experience.
            </p>

            <div class="social-links">

                <a href="#">f</a>
                <a href="#">𝕏</a>
                <a href="#">◎</a>
                <a href="#">in</a>

            </div>

        </div>


        <!-- SHOP -->

        <div class="footer-column">

            <h4>Shop</h4>

            <a href="#">All Products</a>
            <a href="#">New Arrivals</a>
            <a href="#">Best Sellers</a>
            <a href="#">Deals & Offers</a>
            <a href="#">Collections</a>

        </div>


        <!-- COMPANY -->

        <div class="footer-column">

            <h4>Company</h4>

            <a href="#">About Us</a>
            <a href="#">Our Story</a>
            <a href="#">Careers</a>
            <a href="#">Contact</a>
            <a href="#">Blog</a>

        </div>


        <!-- SUPPORT -->

        <div class="footer-column">

            <h4>Support</h4>

            <a href="#">Help Center</a>
            <a href="#">Shipping & Delivery</a>
            <a href="#">Returns & Refunds</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>

        </div>


        <!-- NEWSLETTER -->

        <div class="footer-newsletter">

            <span>STAY CONNECTED</span>

            <h3>
                Get 10% Off
                <br>
                Your First Order.
            </h3>

            <p>
                Subscribe to our newsletter for exclusive
                deals and new arrivals.
            </p>

            <div class="email-box">

                <input
                    type="email"
                    placeholder="Enter your email"
                >

                <button>
                    →
                </button>

            </div>

        </div>

    </div>


    <!-- FOOTER BOTTOM -->

    <div class="footer-bottom">

        <p>
            © 2026 Nexora. All rights reserved.
        </p>

        <div class="payment-methods">

            <span>VISA</span>
            <span>Mastercard</span>
            <span>PAY</span>
            <span> Pay</span>

        </div>

        <a href="#" class="back-top">
            Back to top ↑
        </a>

    </div>

</footer>